<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee
                      https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
  version="6.0">

   
    
    
    <!-- Multi-part configuration for handling file uploads (e.g., book covers) -->
    <servlet>
        <servlet-name>jsp</servlet-name>
        <servlet-class>org.apache.jasper.servlet.JspServlet</servlet-class>
        <multipart-config>
            <location>C:\upload</location> 
            <max-file-size>20971520</max-file-size> <!-- 20MB -->
            <max-request-size>41943040</max-request-size> <!-- 40MB -->
            <file-size-threshold>0</file-size-threshold>
        </multipart-config>
    </servlet>

  <display-name>Archetype Created Web Application</display-name>
    
    
</web-app>